{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
        <p>I am a software engineer with a Bachelor's degree in Aerospace Engineering from the University of California San Diego. My love for technology has been life long and as a highly detail focused individual, I enjoyed learning to create aesthetically pleasing and functionally innovative digital platforms. With these skills now in my arsenal, I am in search of a role that seeks to maximize my technical abilities to the benefit of the company’s growth and challenges me to further develop my own skills.</p>
        <p>In my free time I enjoy plane watching, hiking, and photography!</p>
        <p></p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}